<div class="profile-container">
  <nz-card nzTitle="ข้อมูลส่วนตัว" nzBordered>
    <form nz-form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstName">ชื่อ</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="firstName" id="firstName" placeholder="กรอกชื่อ" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastName">นามสกุล</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="lastName" id="lastName" placeholder="กรอกนามสกุล" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">อีเมล</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="email" id="email" placeholder="กรอกอีเมล" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone">เบอร์โทรศัพท์</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="phone" id="phone" placeholder="กรอกเบอร์โทรศัพท์" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzOffset]="6">
          <button nz-button nzType="primary" [disabled]="!profileForm.valid">บันทึก</button>
          <button nz-button nzType="default" (click)="onReset()" type="button">รีเซ็ต</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div>
